@using Locompro.Models.Entities
@using Locompro.Services.Domain
@model Locompro.Pages.Modals.AdvancedSearch.AdvancedSearchModalModel;


@inject INamedEntityDomainService<Category, string> CategoryService
@inject IProductService ProductService
@{
    var categories = (await CategoryService.GetAll()).ToList();
    var brands = await ProductService.GetBrandsAsync();
    var models = await ProductService.GetModelsAsync();
}

<div class="advanced-search-modal-container" id="advancedSearchModal">
    <div class="advanced-search-modal-secondary-container">
        <div class="card-body advanced-search-modal-card">
            <div class="row d-xl-flex justify-content-xxl-center advanced-search-modal-card-contents">
                <div class="mb-3 category-input-container" style="float:left; width: 200px; ">
                    <label class="form-label d-lg-flex justify-content-xxl-center">Localización exacta</label>
                    <div class="row justify-content-center" style="">
                        <button class="btn btn-primary justify-content-center d-flex"
                                style="width: 60px; height: 40px; margin-left: 0; margin-right: 30px;
                                    padding-top: 0;"
                                data-bs-toggle="modal" data-bs-target="#mapModal">
                            <i class="fa fa-map-marker justify-content-center" style="margin-top: 7px; font-size:30px"></i>
                        </button>
                        <button class="btn btn-primary justify-content-center d-flex" 
                                style="width: 60px; height: 40px; 
                                    background-color: firebrick; border: solid 1px firebrick; 
                                    margin-right: 0; padding-top: 4px; position: relative;"
                                    onclick="window.GetModalMap().clearLocation()">
                            <i class="fa fa-map-marker justify-content-center" 
                               style="margin-top: 7px; font-size:20px; color: lightgrey"></i>
                            <span class="overlay-x" 
                                  style="position: absolute; top: 0; left: 0; 
                                  width: 100%; height: 100%; 
                                  font-size: 30px; line-height: 40px; 
                                  text-align: center; color: white;">
                                X
                            </span>
                        </button>
                    </div>
                </div>
                <div class="d-xxl-flex justify-content-xxl-center" style="margin-right: 0px; float:left; width: 26%">
                    <div class="mb-3" style="margin-left: 5px; margin-right: 5px;margin-bottom: 0px;width: 200px; margin-top: 0px">
                        <label class="form-label d-lg-flex justify-content-lg-start">Provincia</label>
                        <select class="form-select"
                                type="submit"
                                onchange="loadProvince(this)"
                                style="font-family: Roboto, sans-serif;"
                                name="province"
                                id="provinceDropdown">
                            <option>Todos</option>
                            @foreach (var provincia in Model.provinces)
                            {
                                <option>@provincia.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3" style="margin-left: 5px; margin-right: 5px; margin-bottom: 0px;width: 200px; margin-top: 0px">
                        <label class="form-label d-lg-flex justify-content-lg-start">Cantón</label>
                        <select class="form-select"
                                style="font-family: Roboto, sans-serif;padding-right: 10px;margin-right: 0px;"
                                name="canton"
                                id="cantonDropdown">
                            <option>Todos</option>
                        </select>
                    </div>
                </div>
                <!--
                -->
                <div class="row" style="float:left; width: 26%">
                    <div class="col-xxl mb-3 minValue-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Precio Mínimo</label>
                        <input class="form-control"
                               min="1"
                               type="number"
                               id="minValue"
                               onchange="validatePriceInput(this)"
                               value="0">
                    </div>
                    <div class="col-xxl mb-3 maxValue-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Precio máximo</label>
                        <input class="form-control"
                               min="0"
                               type="number"
                               id="maxValue"
                               onchange="validatePriceInput(this)"
                               value="0">
                    </div>
                </div>
                <div class="mb-3 brand-input-container"
                     style="margin-left: 5px; margin-right: 15px; float:left; width: 10%">
                    <label class="form-label d-lg-flex justify-content-xxl-start">Categoría</label>
                    <select id="categoryDropdown"
                            class="form-control form-select" style="font-family:Roboto, sans-serif;">
                        <option value="" disabled selected hidden>Seleccionar</option>
                        @foreach (var category in categories)
                        {
                            <option value="@category.Name">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="mb-3 brand-input-container"
                     style="margin-left: 5px; margin-right: 15px; float:left; width: 10%">
                    <label class="form-label d-lg-flex justify-content-xxl-center">Marca</label>
                    <select class="form-control form-select"
                            style="font-family: Roboto, sans-serif;"
                            id="brandDropdown">
                        <option value="">Todos</option>
                        @foreach (var brand in brands)
                        {
                            <option>@brand</option>
                        }
                    </select>
                </div>
                <div class="mb-3 model-input-container"
                     style="margin-left: 5px; margin-right: 5px; float:left; width: 10%">
                    <label class="form-label d-lg-flex justify-content-xxl-center">Modelo</label>
                    <select class="form-control form-select "
                            style="font-family: Roboto, sans-serif;"
                            id="modelDropdown">
                        <option value="">Todos</option>
                        @foreach (var myModel in models)
                        {
                            <option>@myModel</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mapModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="border-radius: 15px; padding-top: 5px; padding-bottom: 10px; padding-left: 8px; padding-right: 6px">
            <div class="modal-body">
                @await Html.PartialAsync("Shared/Components/_map", Model.MapVm)
            </div>
        </div>
    </div>
</div>