@model Locompro.Models.ViewModels.ModerationSubmissionVm

<div>
    <div class="row">
        <div class="row card-title">
            <h4 class="col-10" style="margin-top: 6px"> Reportes de Contribución </h4>
        </div>
        <div class="" style="margin-bottom: 20px;">
            <h4 id="modalStoreName" class="col-10" style="margin-top: 6px"> Producto: @Model.Product </h4>
        </div>
        <h6 id="modalModel"> </h6>
        <h6 id="modalBrand" style="margin-bottom: 0px"> </h6>
    </div>
    <div class="table-responsive d-xxl-flex table mb-0 pt-3 pe-2">
        <table class="table table-striped table-sm my-0">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Descripción&nbsp;</th>
            </tr>
            </thead>
            <tbody id="ItemModalSubmissionsTable">
            @foreach (var report in Model.Reports)
            {
                <tr>
                    <td>@report.UserName</td>
                    <td>@report.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div style="margin-top: 40px; margin-bottom: 20px; text-align: center">
        <button class="green-button"
                onclick="reportAction(1, '@Model.UserId', '@Model.EntryTime')">
            <i class="fa fa-check"></i>
        </button>
        <button class="red-button"
                onclick="reportAction(2, '@Model.UserId', '@Model.EntryTime')">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>