@page
@using Locompro.Models
@using Locompro.Services
@using Locompro.Common
@model Locompro.Pages.SearchResults.SearchResultsModel

<link rel="stylesheet" href="~/css/SearchResults.css" asp-append-version="true"/>

<div class="container"> 
    <div class="card border search-results-card" border="5px solid black;">
        <div>
            <h2>@Model.ProductName</h2>
            <h6> @Model.ItemsAmount resultados encontrados </h6>
            <div class="table-encapsulate-for-results">
                <table class="table table-hover search-results-table">
                    <thead>
                    <tr>
                        <th>
                            <a asp-page="./SearchResults"
                                asp-route-sortOrder="@Model.NameSort"
                                asp-route-sorting=true
                                asp-route-currentFilter="@Model.CurrentFilter"
                                asp-route-query=@Model.ProductName
                                asp-route-province=@Model.ProvinceSelected
                                asp-route-canton=@Model.CantonSelected
                                asp-route-minValue=@Model.MinPrice
                                asp-route-maxValue=@Model.MaxPrice
                                asp-route-category=@Model.CategorySelected
                                asp-route-model=@Model.ModelSelected
                                asp-route-brand="@Model.BrandSelected">
                                Producto
                            </a>
                        </th>
                        <th scope="col">Precio</th>
                        <th scope="col">Tienda</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Canton</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Ultimo Aporte </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        PaginatedList<Item> items = Model.DisplayItems;
                        foreach (Item item in Model.DisplayItems)
                        {
                            <tr onclick="itemSelected()">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductStore)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantonLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastSubmissionDate)
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            @{
                var prevDisabled = !Model.DisplayItems.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.DisplayItems.HasNextPage ? "disabled" : "";
            }

            <div class="previous-next-button-area">
                <a asp-page=""
                    asp-route-query=@Model.ProductName
                    asp-route-province=@Model.ProvinceSelected
                    asp-route-canton=@Model.CantonSelected
                    asp-route-minValue=@Model.MinPrice
                    asp-route-maxValue=@Model.MaxPrice
                    asp-route-category=@Model.CategorySelected
                    asp-route-model=@Model.ModelSelected
                    asp-route-brand="@Model.BrandSelected"
                    asp-route-pageIndex="@(Model.DisplayItems.PageIndex - 1)"
                    asp-route-sortOrder="@Model.NameSort"
                    asp-route-currentFilter="@Model.CurrentFilter"
                    class="btn btn-primary @prevDisabled">
                    Previo
                </a>

                <input type="number"
                        class="number-input-pages"
                        min=1
                        max="@Model.DisplayItems.TotalPages"
                        value="@Model.DisplayItems.PageIndex"
                        onchange="changeIndexPage(this)">

                <a asp-page=""
                    asp-route-query=@Model.ProductName
                    asp-route-province=@Model.ProvinceSelected
                    asp-route-canton=@Model.CantonSelected
                    asp-route-minValue=@Model.MinPrice
                    asp-route-maxValue=@Model.MaxPrice
                    asp-route-category=@Model.CategorySelected
                    asp-route-model=@Model.ModelSelected
                    asp-route-brand="@Model.BrandSelected"
                    asp-route-pageIndex="@(Model.DisplayItems.PageIndex + 1)"
                    asp-route-sortOrder="@Model.NameSort"
                    asp-route-currentFilter="@Model.CurrentFilter"
                    class="btn btn-primary @nextDisabled">
                    Siguiente
                </a>
                <h6 class="page-amount-text"> @Model.DisplayItems.TotalPages paginas de resultados </h6>
            </div>
        </div>
    </div>
</div>