@page
@using Locompro.Models
@using Locompro.Services
@using Locompro.Common
@model Locompro.Pages.User.Contributions.ContributionsPageModel

<link rel="stylesheet" href="~/css/SearchResults.css" asp-append-version="true"/>

<div class="container"> 
        <div>
            <h2>Mis Contribuciones</h2>
            <h6> @Model.ItemsAmount resultados encontrados </h6>
            <div class="table-encapsulate-for-results">
                <table class="table table-hover search-results-table">
                    <thead>
                    <tr>
                        <th scope="col">Fecha de aporte </th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Tienda</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Canton</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        PaginatedList<Item> items = Model.DisplayItems;
                        foreach (Item item in Model.DisplayItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastSubmissionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductStore)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantonLocation)
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            @{
                var prevDisabled = !Model.DisplayItems.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.DisplayItems.HasNextPage ? "disabled" : "";
            }
            <div class="previous-next-button-area">
                <a asp-page=""
                    asp-route-query=@Model.CurrentUser
                    asp-route-pageIndex="@(Model.DisplayItems.PageIndex - 1)"
                    class="btn btn-primary @prevDisabled">
                    Previo
                </a>

                <input type="number"
                        class="number-input-pages"
                        min=1
                        max="@Model.DisplayItems.TotalPages"
                        value="@Model.DisplayItems.PageIndex"
                        onchange="changeIndexPage(this)">

                <a asp-page=""
                    asp-route-query=@Model.CurrentUser
                    asp-route-pageIndex="@(Model.DisplayItems.PageIndex + 1)"
                    class="btn btn-primary @nextDisabled">
                    Siguiente
                </a>
                <h6 class="page-amount-text"> @Model.DisplayItems.TotalPages páginas de resultados </h6>
            </div>
        </div>
</div>