<h3 style="text-align: center" id="ShoppingListTitle">Resumen de tiendas</h3>
@if (Model.Stores != null)
{
        <table id="summaryResults" class="display search-results-table" style="width:100%">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Provincia</th>
                    <th>Cantón</th>
                    <th style="text-align: center">Cantidad</th>
                    <th style="text-align: center">% Disponible</th>
                    <th style="text-align: right">Costo total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var store in Model.Stores)
                {
                    <tr>
                        <td>@store.Name</td>
                        <td>@store.Province</td>
                        <td>@store.Canton</td>
                        <td style="text-align: center">@store.ProductsAvailable</td>
                        <td style="text-align: center">@store.PercentageProductsAvailable</td>
                        <td style ="text-align: right">@store.TotalCost</td>
                    </tr>
                }
            </tbody>
        </table>
}
else
{
    <div>
        <p style="font-size: 24px; text-align: center; margin-top: 30px; margin-bottom: 30px; color: #888; opacity: 0.6;">
            Vacío
        </p>
    </div>

}
