@page
@using Locompro.Models
@using Locompro.Common
@model Locompro.Pages.SearchResults.SearchResultsModel

<link rel="stylesheet" href="~/css/MainMenu.css" asp-append-version="true"/>

<div class="container  pt-5"
     style="margin-bottom: 3px;margin-top: -52px;">
    <div class="container">
        <div class="justify-content-center form-actions input-group" style="margin: 0 auto;">
            <div class="search-box form-control pe-4 rounded-pill input-group"
                 style="">
                <div style="width: 100%; padding-right: 20px">
                    <input type="text"
                           value="@Model.ProductName"
                           class="form-control rounded-pill"
                           name="query"
                           placeholder="Ingresar nombre de producto"
                           required="required"
                           style="margin-left: 0px; border: none;"
                           id="searchBox">
                </div>
                <div class="input-group-prepend justify-content-center"
                     style="position: absolute; right: 0; top: 0; bottom: 0; display: flex; align-items: center; margin-right: 10px;">
                    <button class="btn btn-primary ps-2 pe-2 rounded-pill"
                            role="button"
                            type="submit"
                            onclick="performSearchButton()"
                            style="height: 30px; font-size: 12px;"
                            id="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card border " style="margin-top: 15px;padding-top: 0px;padding-bottom: 20px;border-radius: 20px;" border="5px solid black;">
            <div style="margin-left: 20px; margin-top: 15px">
                <h2>@Model.ProductName</h2>
                <h6> @Model.ItemsAmount resultados encontrados </h6>
                <div style="margin-right:20px; overflow-y:auto;">
                    <table class="table table-hover" style="cursor:pointer">
                        <thead>
                        <tr>
                            <th>
                                <a asp-page="./SearchResults"
                                   asp-route-sortOrder="@Model.NameSort"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-query=@Model.ProductName
                                   asp-route-province=@Model.ProvinceSelected
                                   asp-route-canton=@Model.CantonSelected
                                   asp-route-category=@Model.CategorySelected
                                   asp-route-model=@Model.ModelSelected
                                   asp-route-brand="@Model.BrandSelected">
                                    Producto
                                </a>
                            </th>
                            <th scope="col">Precio</th>
                            <th scope="col">Tienda</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Canton</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Ultimo Aporte </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int index = 0;
                            PaginatedList<Item> items = Model.DisplayItems;
                            foreach (Item tempItem in Model.DisplayItems)
                            {
                                 <tr onclick="itemSelected(@index)">
                                    <td>
                                        @Html.DisplayFor(modelItem => tempItem.ProductName)
                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => tempItem.ProductPrice)
                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => tempItem.ProductStore)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => tempItem.ProvinceLocation)
                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => tempItem.CantonLocation)
                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => tempItem.ProductDescription)
                                    </td>
                                    <td>
                                         @Html.DisplayFor(modelItem => tempItem.LastSubmissionDate)
                                    </td>
                                    </tr>
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                    @{
                        index = 0;
                        foreach (Item tempItem in Model.DisplayItems)
                        {
                            string modalName = "modal" + @index;
                            <div class="modal fade" id="@modalName" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4 class="d-xxl-flex align-items-xxl-center card-title"><i class="fa fa-envelope"></i> @tempItem.ProductName</h4>
                                            <h4 class="d-xxl-flex align-items-xxl-center card-title"><i class="fa fa-home"></i>@tempItem.ProductStore</h4>
                                            <div>
                                                <div class="table-responsive d-xxl-flex table mb-0 pt-3 pe-2">
                                                    <table class="table table-striped table-sm my-0 mydatatable">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Fecha de aporte&nbsp;</th>
                                                                <th>Precio&nbsp;</th>
                                                                <th>Descripción&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                foreach (Submission tempSubmit in tempItem.Submissions)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            @Html.DisplayFor(modelSub => tempSubmit.EntryTime)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelSub => tempSubmit.Price)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelSub => tempSubmit.Description)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            index++;
                        }
                    }
                </div>
                @{
                    var prevDisabled = !Model.DisplayItems.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.DisplayItems.HasNextPage ? "disabled" : "";
                }

                <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center;">
                    <a asp-page=""
                       asp-route-query=@Model.ProductName
                       asp-route-pageIndex="@(Model.DisplayItems.PageIndex - 1)"
                       asp-route-sortOrder="@Model.NameSort"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="btn btn-primary @prevDisabled"
                       style="margin-bottom:0px">
                        Previo
                    </a>

                    <input type="number"
                           style="bottom: 0; height: 100%; border: 2px solid grey; border-radius: 5px; padding: 7px; width: 60px; margin-left: 10px; margin-right: 10px;"
                           min=1
                           max="@Model.DisplayItems.TotalPages"
                           value="@Model.DisplayItems.PageIndex"
                           onchange="changeIndexPage(this)">

                    <a asp-page=""
                       asp-route-query=@Model.ProductName
                       asp-route-pageIndex="@(Model.DisplayItems.PageIndex + 1)"
                       asp-route-sortOrder="@Model.NameSort"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="btn btn-primary @nextDisabled">
                        Siguiente
                    </a>
                </div>
                <h6 style="display: flex; align-items: center; justify-content: center;"> @Model.DisplayItems.TotalPages paginas de resultados </h6>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const invalidSimpleSearch = "/SearchResults/SearchResults?query=";            
        function performSearchButton() {
            var redirect = "/SearchResults/SearchResults?query=";
            var searchValue = document.getElementById("searchBox").value.valueOf() ;
                redirect += searchValue;
            if (redirect.localeCompare(invalidSimpleSearch) === 0) {
                alert("Por favor llenar el campo de búsqueda");
                return;
            }
            window.location.href = redirect;
        }
    </script>

    <script>
        function itemSelected(index) {
            var modalId = "#modal" + index;
            $(modalId).modal('show');
        }
    </script>

    <script>
        function changeIndexPage(field) {
            if (field.value > @Model.DisplayItems.TotalPages) {
                field.value = @Model.DisplayItems.TotalPages;
            }

            if (field.value < 1) {
                field.value = 1;
            }
            var provinceForEmptyCheck = "@Model.ProvinceSelected";

            console.log(provinceForEmptyCheck);
            if (provinceForEmptyCheck.length === 0) {
                window.location.href = "/SearchResults/SearchResults?query=" + "@Model.ProductName" +
                    "&pageIndex=" + field.value;
            } else {
                window.location.href = "/SearchResults/SearchResults?query=" + "@Model.ProductName" +
                    "&pageIndex=" + field.value;
            }
        }
    </script>
    <script>
        // script to search on enter press
        document.getElementById("searchBox")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("searchButton").click();
                }
            });
    </script>
}